<app-page-layout>
  <div class="content-layout">
    <h1 id="page-title" class="content__title">Tarifs</h1>
    <div class="content__body">
      <section>
        <div class="container py-5">
      
          <div class="row text-center align-items-end text-black">
            
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="bg-white p-5 rounded-lg shadow">
                <h1 class="h6 text-uppercase font-weight-bold mb-4">Free</h1>
                <h2 class="h1 font-weight-bold">0€<span class="text-small font-weight-normal ml-2">/mois</span></h2>
      
                <div class="custom-separator my-4 mx-auto bg-primary"></div>
      
                <ul class="list-unstyled my-5 text-small text-left">
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> 10 minutes entre chaque rafraîchissement</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> 1 recherche autorisée simultanément</li>
                  <li class="mb-3 text-muted">
                    <i class="fa fa-times mr-2"></i>
                    <del>Recherche par plus de filtres</del>
                  </li>
                  <li class="mb-3 text-muted">
                    <i class="fa fa-times mr-2"></i>
                    <del>Notifications par SMS</del>
                  </li>
                </ul>
                <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">S'abonner</a>
              </div>
            </div>



            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="bg-white p-5 rounded-lg shadow">
                <h1 class="h6 text-uppercase font-weight-bold mb-4">Basic</h1>
                <h2 class="h1 font-weight-bold">9.99€<span class="text-small font-weight-normal ml-2">/mois</span></h2>
      
                <div class="custom-separator my-4 mx-auto bg-primary"></div>
      
                <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> 3 minutes entre chaque rafraîchissement</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> 5 recherches autorisées simultanément</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Recherche par plus de filtres</li>
                  <li class="mb-3 text-muted">
                    <i class="fa fa-times mr-2"></i>
                    <del>Notifications par SMS</del>
                  </li>
                </ul>
                <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">S'abonner</a>
              </div>
            </div>
            <!-- END -->
      
      
            <!-- Pricing Table-->
            <div class="col-lg-4">
              <div class="bg-white p-5 rounded-lg shadow">
                <h1 class="h6 text-uppercase font-weight-bold mb-4">Advanced</h1>
                <h2 class="h1 font-weight-bold">19.99€<span class="text-small font-weight-normal ml-2">/mois</span></h2>
      
                <div class="custom-separator my-4 mx-auto bg-primary"></div>
      
                <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> 3 minutes entre chaque rafraîchissement</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> 5 recherches autorisées simultanément</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Recherche par plus de filtres</li>
                  <li class="mb-3">
                    <i class="fa fa-check mr-2 text-primary"></i> Notifications par SMS</li>
                </ul>
                <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">S'abonner</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</app-page-layout>
